$spacing-small: ms(-1);

$spacing-medium: ms(0);

$spacing-large: ms(1);

$spacing-xlarge: ms(2);

$spacing-xxlarge: ms(3);

$spacing-xxxlarge: ms(4);

@mixin reset-spacing{
	padding: 0px;
	margin: 0px;
}

@mixin reset-margin{
	margin: 0px;
}

@mixin reset-padding{
	padding: 0px;
}

@mixin reset-box-model(){
	box-sizing: border-box;
}