
//Font Families
$font-family-body: 'Roboto';
$font-family-heading: 'Roboto Slab';
$font-family-fixed: "andale mono", "lucida console";

//Font Weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

//Body Font Sizes
$body-font-size-small: ms(-1);
$body-font-size-normal: ms(0);
$body-font-size-large: ms(1);

//Heading Sizes
$heading-font-size-1: ms(4);
$heading-font-size-2: ms(3);
$heading-font-size-3: ms(2);
$heading-font-size-4: ms(1);
$heading-font-size-5: ms(0);
$heading-font-size-6: ms(-1);