$prefix-for-webkit:    false; //Don't prefix - we have gulp for this...
$prefix-for-mozilla:   false; //Don't prefix - we have gulp for this...
$prefix-for-microsoft: false; //Don't prefix - we have gulp for this...
$prefix-for-opera:     false; //Don't prefix - we have gulp for this...
$prefix-for-spec:      false; //Don't prefix - we have gulp for this...

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    mobile:  320px,
    tablet:  768px,
    desktop: 1280px
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
// $mq-show-breakpoints: (mobile, tablet, desktop);

//Modular Scale
$ms-base: 1em;
$ms-ratio: 1.33;

@import "mq";
@import "modular-scale";
@import "bourbon";
@import "neat";
@import "partials/spacing";
@import "partials/colours";
@import "partials/typography";

*{
	@include reset-spacing;
	@include reset-box-model;
}

body {
	// background-color: $white;
	background-image: url('../images/teacup.gif');
	background-size: cover;
	font-family: $font-family-body;
	color: $dark-grey-3;
}

//Styling for all types of content
h1,h2,h3,h4,h5,h6,p,li,a{
	@include reset-spacing;
	font-weight: $font-weight-thin;
}

//Styling for headings only
p{font-size: $body-font-size-normal;}
h1{font-size: $heading-font-size-1;}
.container{
	@include outer-container;
	h1{
		color: $white;
		margin: $spacing-large;
		text-align: center;
	}
}

@include mq($from: mobile){
	.container{
		h1{
			font-size: $heading-font-size-3;
			@include span-columns(10);
		}
	}
}

@include mq($from: tablet){
	.container{
		h1{
			font-size: $heading-font-size-3;
			@include span-columns(12 of 12);
		}
	}
}

@include mq($from: desktop){
	.container{
		h1{
			font-size: $heading-font-size-1;
			@include span-columns(12 of 12);
		}
	}
}